# The Battle of the Neighborhoods - Week 2

## Part 3: Scraping population and demographic data from Wikipedia

#### Install and download libraries

In [20]:
import pandas as pd

### A: Population data

#### Source of population data: https://de.wikipedia.org/wiki/Einwohnerentwicklung_von_M%C3%BCnchen

### Population

### Web scrapping of Population data from wikipedia page using Pandas

Pandas offers with the method read_html() a very fast way to extract tables from web pages.

In [21]:
pop= pd.read_html('https://de.wikipedia.org/wiki/Einwohnerentwicklung_von_M%C3%BCnchen')

In [22]:
type(pop)

list

Pandas returns a list containing all tables of the respective website.

In [23]:
len(pop)

22

The requested website contains 22 tables. The 21st table is the one we are looking for.

In [24]:
population = pop[21]
population.columns = ["Borough","Square-km","Population","Persons_per_square_km"]
population = population.iloc[0:24,]
print(type(population))
population

<class 'pandas.core.frame.DataFrame'>

,Borough,Square-km,Population,Persons_per_square_km
0,Allach-Untermenzing,1545,31.882,2.063
1,Altstadt-Lehel,315,21.122,6.715
2,Aubing-Lochhausen-Langwied,3406,43.682,1.282
3,Au-Haidhausen,422,61.495,14.574
4,Berg am Laim,631,45.035,7.132
5,Bogenhausen,2371,85.947,3.625
6,Feldmoching-Hasenbergl,2894,61.534,2.126
7,Hadern,922,50.257,5.449
8,Laim,529,55.374,10.476
9,Ludwigsvorstadt-Isarvorstadt,440,54.049,12.280
10,Maxvorstadt,430,53.743,12.540
11,Milbertshofen-Am Hart,1342,75.488,5.627
12,Moosach,1109,53.261,4.801
13,Neuhausen-Nymphenburg,1292,98.702,7.643
14,Obergiesing,572,54.402,9.510
15,Pasing-Obermenzing,1650,73.320,4.444
16,Ramersdorf-Perlach,1990,112.371,5.648
17,Schwabing-Freimann,2567,75.020,2.922
18,Schwabing-West,436,68.527,15.706
19,Schwanthalerhöhe,207,30.381,14.675
20,Sendling,394,40.879,10.379
21,Sendling-Westpark,781,58.398,7.473
22,Thalkirchen-Obersendling-Forstenried-Fürstenri...,1776,93.602,5.269
23,Trudering-Riem,2245,69.830,3.110

The table is now available as a dataframe.

The population figures refer to 31 December 2015 (main residences)

### Save dataframe as csv file

In [25]:
population.to_csv('Population.csv',index=False)

### B: Demographics data

#### Source of population data: https://de.wikipedia.org/wiki/Einwohnerentwicklung_von_M%C3%BCnchen

### Demographics

### Web scrapping of Demographics data from wikipedia page using Pandas

Pandas offers with the method read_html() a very fast way to extract tables from web pages.

In [28]:
demo = pd.read_html('https://de.wikipedia.org/wiki/Einwohnerentwicklung_von_M%C3%BCnchen')

In [29]:
demographics = demo[18].drop("Rang", axis=1)
demographics.columns
demographics.columns = ['Country', '2000', '2005', '2010', '2015', '2018']
demographics

                    Country    2000    2005    2010    2015    2018
0                  Kroatien  22.009  24.866  23.740  33.177  38.137
1                    Türkei  46.329  43.309  40.860  39.204  37.876
2                   Italien  22.282  20.847  21.038  27.340  27.821
3              Griechenland  23.523  22.486  20.506  27.117  26.560
4                Österreich  21.938  21.411  20.814  21.944  21.046
5   Bosnien und Herzegowina  14 382  16.475  15.588  17.471  19.692
6                     Polen   6.626  12.088  14.697  21 945  19.101
7                  Rumänien   4.139   4.161   7.971  18.058  17.980
8                  Serbien*  30.514  24.439  15.600  13.389  14.115
9                 Bulgarien   1.651   2.858   5.982  12.267  12.575
10                     Irak   4.315   8.583   9.931  10.977  12.237
11                   Kosovo       –       –   6.028  10.594  11.428
12               Frankreich   6.269   6.859   7.651  10.611  10.239
13                   Indien   1.346   2.094   2.774   5.852   9.071
14     Russische Föderation   3.118   5.240   6.014   8.513   8.899
15                  Spanien   3.381   3.440   4.084   8.886   8.860
16                   Ungarn   3.205   4.110   6.512  10.678   8.586
17                    China   2.063   2.892   4.159   6.682   8.400
18              Afghanistan   4.175   4.214   3.926   6.627   7.246
19                  Ukraine   3.061   5.225   5.550   6.392   6.964
20                      USA   5.144   5.121   5.593   6.761   6.647
21   Vereinigtes Königreich   5.102   4.619   4.794   5.949   4.993

This table shows residents with foreign citizenship by country of origin over 5,000 at the end of the year

### Save dataframe as csv file

In [32]:
demographics.to_csv('Demographics.csv',index=False)