#### Import the needed libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

print('Libraries imported.')

Libraries imported.

#### Download the Data from the website and convert it to a dataframe

In [2]:
list = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = pd.DataFrame(list[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Check the shape of the dataframe

In [3]:
df.shape

(287, 3)

#### Find all boroughs which are not assigned and replace them with NaN

In [4]:
df["Borough"] = df["Borough"].replace(to_replace="Not assigned",value = np.nan)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN      Not assigned
1      M2A               NaN      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Get the number of Nulls, i.e. not assigned boroughs

In [5]:
df.isnull().sum()

Postcode          0
Borough          77
Neighbourhood     0
dtype: int64

####  Drop all rows with not assigned boroughs and reset the index

In [6]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)

#### Rename Postcode to Postalcode

In [7]:
df.columns =['PostalCode', 'Borough', 'Neighbourhood']

In [8]:
df.head()

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

#### Check the shape of the dataframe again

In [9]:
df.shape

(210, 3)

#### Get postcodes from csv-File

In [17]:
postal_codes = pd.read_csv("https://cocl.us/Geospatial_data")
postal_codes.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Rename postcode to PostalCode

In [18]:
postal_codes.columns = ['PostalCode', 'Latitude', 'Longitude']
postal_codes.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Merge df mit postal_codes

In [32]:
df_new = pd.merge(left = df, right = postal_codes, on = "PostalCode")
df_new.head(20)

   PostalCode           Borough     Neighbourhood   Latitude  Longitude
0         M3A        North York         Parkwoods  43.753259 -79.329656
1         M4A        North York  Victoria Village  43.725882 -79.315572
2         M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3         M6A        North York  Lawrence Heights  43.718518 -79.464763
4         M6A        North York    Lawrence Manor  43.718518 -79.464763
5         M7A  Downtown Toronto      Queen's Park  43.662301 -79.389494
6         M9A         Etobicoke  Islington Avenue  43.667856 -79.532242
7         M1B       Scarborough             Rouge  43.806686 -79.194353
8         M1B       Scarborough           Malvern  43.806686 -79.194353
9         M3B        North York   Don Mills North  43.745906 -79.352188
10        M4B         East York  Woodbine Gardens  43.706397 -79.309937
11        M4B         East York     Parkview Hill  43.706397 -79.309937
12        M5B  Downtown Toronto           Ryerson  43.657162 -79.378937
13        M5B  Downtown Toronto   Garden District  43.657162 -79.378937
14        M6B        North York         Glencairn  43.709577 -79.445073
15        M9B         Etobicoke        Cloverdale  43.650943 -79.554724
16        M9B         Etobicoke         Islington  43.650943 -79.554724
17        M9B         Etobicoke      Martin Grove  43.650943 -79.554724
18        M9B         Etobicoke  Princess Gardens  43.650943 -79.554724
19        M9B         Etobicoke   West Deane Park  43.650943 -79.554724