#### Import the needed libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

print('Libraries imported.')

Libraries imported.

#### Download the Data from the website and convert it to a dataframe

In [2]:
list = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = pd.DataFrame(list[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Check the shape of the dataframe

In [3]:
df.shape

(287, 3)

#### Find all boroughs which are not assigned and replace them with NaN

In [4]:
df["Borough"] = df["Borough"].replace(to_replace="Not assigned",value = np.nan)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN      Not assigned
1      M2A               NaN      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Get the number of Nulls, i.e. not assigned boroughs

In [5]:
df.isnull().sum()

Postcode          0
Borough          77
Neighbourhood     0
dtype: int64

####  Drop all rows with not assigned boroughs and reset the index

In [6]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)

#### Rename Postcode to Postalcode

In [7]:
df.columns =['PostalCode', 'Borough', 'Neighbourhood']

In [8]:
df.head()

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

#### Check the shape of the dataframe again

In [9]:
df.shape

(210, 3)